body {
    margin: 0;
    /* background-image: linear-gradient(rgb(24, 50, 133), rgb(19, 41, 87),rgb(14, 14, 47) ); */
    background-image: linear-gradient(90deg, #061d2c, rgb(40, 90, 114), #061d2c);
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;

}

.main.active {
    filter: blur(10px);
    transition: 0.2s ease;
}




/* big nav */
.menu-icon{
    display: none;
}
.menu-and-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    width: 50%;
}
nav {
    border-bottom: solid white;
    border-width: 0.3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* padding: 10% 0; */
    display: flex;
    justify-content: space-between;
    padding: 2% 10% 2% 10%;

}



/* navbar brand */
.navbar-brand a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-brand a:hover {
    color: #333333;
    transition: 0.3s ease;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4%;
    width: 100%;
}

/* menu buttons */
.navbar-links a {
    color: #ffffff;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links a:hover {
    color: #6e6e6e;
}

.navbar-links a.active {
    background-color: #4CAF50;
}




/* introduction part*/
.diff-subject {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 10%; */
    margin: 2% 10%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}






.custom-select {
    display: flex;
    justify-content: center;
}

.custom-select select {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #cab9a0;
    width: 80%;
    text-align: center;
}

.custom-select select:hover {
    background-color: grey;
    cursor: pointer;
}

.custom-select select:focus {
    outline: none;
    border-color: #423003;
    box-shadow: 0 0 5px rgb(71, 56, 5);
}

.custom-select select option {
    background-color: #ffffff;
    padding: 20px;
    color: #333;
}

.custom-select select option:hover {
    background-color: #e9e9e9;
    color: #000000;
    cursor: pointer;
}









/* SUBJECT DIVISION */
.container {
    height: 100vh;
    display: flex;

}

.quiz {
    position: absolute;
    width: 100%;
    background-color: green;
}






.subjects .two-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.subject-div {
    display: flex;
    justify-content: center;

    width: 40%;
    margin: 2%;
    height: 50%;
}

.dbms,
.ops,
.cloud,
.web-dev {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
    justify-content: space-evenly;
    width: 100%;

    border: inset #948979;
    border-radius: 20px;
    background-color: #051b2b;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.buttons button {
    background-color: #cab9a0;
    padding: 1.8% 2%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
}

.buttons button:hover {
    color: #cab9a0;
    background-color: rgb(27, 57, 78);
    border: outset #cab9a0;
    cursor: pointer;
    border: 0px;
}















.popup-info {
    position: fixed;
    color: #cab9a0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 40%;
    border-radius: 8px;
    padding: 2%;
    font-size: 1rem;
    transition: ease-in;
    opacity: 0;
    pointer-events: none;
}

.popup-info.active {
    opacity: 1;
    transition: 0.6s ease;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

/* .popup-info:hover{
    transition: ease-in 0.2s;
} */

.popup-info h2 {
    color: #cab9a0;
    text-align: center;
    font-size: 2rem;
}

.btn-grp {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}

.btn-grp button {
    background-color: #cab9a0;
    padding: 2% 5%;
    font-size: 1rem;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.btn-grp button:nth-child(1) {
    background-color: rgb(7, 5, 37);
    color: #cab9a0;
    border: 0px;
}

.btn-grp button:nth-child(1):hover {
    background-color: #cab9a0;
    color: black;
}

.btn-grp button:hover {
    cursor: pointer;
    color: #cab9a0;
    background-color: rgb(7, 5, 37);
    border: 0px;

}















/* contact me div things */
#contact-div {
    background-color: #cab9a0;
    color: rgb(7, 5, 37);
    margin-top: 5%;
    height: 150px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
}

.contact-me-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    /* gap: 5%; */
}

.contact-me-icons div{
    margin-left: 2%;
    margin-right: 2%;
}
.visiting {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.email-icon {
    height: 40px;
}

.email-icon:hover {
    transition: 0.2s;
    height: 50px;
}

.github-icon,
.linkedin-icon {
    height: 40px;
    align-self: center;
}

.github-icon:hover,
.linkedin-icon:hover {
    transition: 0.4s ease-in-out;
    height: 51px;
}















/* RESPONSIVE MEDIA */
@media screen and (max-width: 850px) {
    .diff-subject {
        flex-direction: column;
    }

    .menu-icon {
        display: flex;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        border: 0;
        align-items: center;
    }
    .menu-and-link{
        display: flex;
        flex-direction: column;
    }
    .navbar-links a {
        margin-bottom: 8px;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid white;
        border: 0;
        font-size: 1rem;
    }

    .navbar-links.active {
        display: flex;
        background-color: #051b2b;
        border: outset beige;
        border-radius: 10px;
        padding: 2%;
        position: absolute;
        right: 40%;
        top: 20%;
    }

    .subjects {
        flex-direction: column;
    }

    .subjects .two-sub {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .two-sub .subject-div {
        justify-content: center;

        width: 75%;
    }

    h2 {
        font-size: 1rem;
    }

    p{
        font-size: 0.7rem;
    }


    #contact-div {
        display: flex;
        flex-direction: column;
    }




}


@media (min-width: 0) and (max-width: 500px) {
    /* .navbar{
        flex-direction: column;
    } */

    .menu-and-link{
        width: 10%;
    }
    .navbar-brand a{
        font-size: 23px;
    }


    h1{
        font-size: 1rem;
    }
    #contact-div{
        font-size: 1rem;
    }
}

