body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

/* nav score */
.score-button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    border: 0;
    font-size: 1.2rem;
    color: #fff;
}
.score-button:hover{
    background: transparent;
    color: #6e6e6e;
    cursor: pointer;
}






.container-2 {
    width: 50%;
    margin: auto;
    padding: 1% 4%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.489);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.question {
    border: ridge #1e72aa;

    border-radius: 10px;
    padding: 4%;
    margin: 3%;
}

.question div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.question .label-div {
    display: flex;
    flex-direction: row;

}

.question p {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: dotted;

}

.label-div label {
    color: #061d2c;
    background-color: #e3d7c5;
    border-radius: 10px;
    padding: 2%;
    cursor: pointer;
    margin: 1%;
    gap: 50%;
    width: 50%;
}

.label-div label:hover {
    background-color: #cab9a0;
    border-radius: 10px;
    cursor: pointer;
}


















.submit-button {
    display: block;
    width: 20%;
    padding: 10px;
    background: #061d2c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    align-self: center;
}

.submit-button:hover {
    background: #cab9a0;
    color: #061d2c;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50vh;
    background-color: #061d2c;
    color: #cab9a0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.931);
    z-index: 9999;
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.popup-content h2 {
    margin-bottom: 10px;
}

.popup-content p {
    text-align: center;
    margin: 0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}